* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input, textarea {
  outline: none;
  resize: none !important;
}

a {
  text-decoration: none;
  color: #676eff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  margin-right: 10px;
  vertical-align: middle;
  
  &:hover {
    border-color: #676eff;
    box-shadow: 0 0 0 3px rgba(103, 110, 255, 0.1);
  }
  
  &:checked {
    background-color: #676eff;
    border-color: #676eff;
    
    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 11px;
      transform: translate(-50%, -60%) rotate(45deg);
      border: solid white;
      border-width: 0 3px 3px 0;
    }
  }

  &:focus {
    outline: none;
    border-color: #676eff;
    box-shadow: 0 0 0 3px rgba(103, 110, 255, 0.25);
  }

  &:disabled {
    background-color: #f5f5f5;
    border-color: #e0e0e0;
    cursor: not-allowed;
    
    &:checked {
      background-color: #bdbdbd;
      border-color: #bdbdbd;
    }
  }
  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}
